<h1>여기는글을 쓰는 곳입니다.</h1>
<!-- dkssud -->

<form action="result" method="POST">
    <br>제목 : <input type="text" name="title">
    <br>내용 : <input type="text" name="content">
    <br><input type="submit" value="글쓰기">
</form>